.slider-single

	- for (var i = 0; i < 3; i++) {
		.slider-single__item
			.slider-single__content-wrap(style='background-image: url(img/content/slider-single.jpg); background-position: 65% 50%;')
				.slider-single__content.color-white
					.mb-15
						.title.title_font_second.upper Хоккейная школа
							br
							| братьев Казионовых
					.mb-30
						.title.title_line_around Пробное занятие бесплатно
					a.btn.btn_size_lg.btn_color_white(href='#') Записаться
	- }