$name: btn;

.#{$name} {
	@extend %transition;
	display: inline-block;
	position: relative;
	font-family: $font-third;
	font-size: 14px;
	font-weight: normal;
	color: $color-dark;
	border: 1px solid $color-dark;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 1.2;
	outline: none;
	padding: 10px 30px 8px;
	word-break: break-word;
	user-select: none;

	&:hover,
	&:focus {
		color: white;
		background-color: $color-text;
		border-color: $color-text;
	}

	&:active {
		color: white;
		background-color: $color-text-light;
		border-color: $color-text-light;
	}

	&_size_md {
		font-size: 18px;
		padding: 10px 35px 7px;
	}

	&_size_lg {
		font-size: 18px;
		padding: 16px 40px 12px;
	}

	&_wide {
		display: block;
		width: 100%;
	}

	&_color_white {
		color: white;
		border-color: white;

		&:hover,
		&:focus {
			color: $color-text;
			border-color: white;
			background-color: white;
		}

		&:active {
			color: $color-text;
			background-color: $color-gray;
			border-color: $color-gray;
		}
	}
}

input.#{$name} {
	white-space: pre-wrap;
}