$name: growth;

.#{$name} {
	padding: 20px 10px;
	background: rgba($color-gray, .11);
	height: 100%;
	color: white;
	fill: currentColor;
	transition: $duration ease;

	&:hover {
		transform: scale(1.06);
		color: $color-text;
		background: white;

		.#{$name} {

			&__wrap {

				&::after {
					width: 50%;
				}
			}
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		height: 100%;

		&::after {
			content: '';
			display: block;
			width: 34px;
			height: 1px;
			background-color: currentColor;
			margin: 15px auto 0;
			transition: $duration ease width;
		}
	}

	&__icon-wrap {
		flex: none;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 15px;
	}

	&__icon {
		height: 80px;
		width: auto;
	}

	&__title {
		margin-top: auto;
		margin-bottom: auto;

		@include screen-md(max) {
			font-size: 19px;
		}
	}
}