$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__separator {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid $color-gray;
	}

	&__black {
		background: $color-text;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: -5px;
		margin-bottom: -5px;
	}

	&__nogap-row {
		margin: -1px;
		overflow: hidden;
	}

	&__nogap-col {
		padding: 1px;
	}
}