$name: menu;

.#{$name} {
	display: block;
	width: 100%;
	overflow: hidden;

	&__outer {
		display: flex;
		margin: 0 -15px;
	}

	&__side {
		padding: 0 15px;

		&_left {
			width: calc(50% - 50px);
		}

		&_center {
			@extend %transition;
			width: 130px;
			flex: none;
		}

		&_right {
			width: calc(50% - 50px);
		}
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		height: 100%;
		list-style-type: none;
		margin: 0 -15px;
	}

	&__item {
		display: block;
		word-break: normal;
	}

	&__link {
		@extend %transition;
		display: flex;
		align-items: center;
		height: 100%;
		color: $color-text;
		padding: 8px 15px 4px;

		&:hover {
			color: $color-gray;
		}

		&:active {
			color: $color-text-light;
		}
	}

	&_color_white {

		.#{$name} {

			&__link {
				color: white;

				&:hover {
					color: $color-gray;
				}

				&:active {
					color: $color-light;
				}
			}
		}
	}

	&_size_sm {

		.#{$name} {

			&__side {

				&_center {
					width: 110px;
					padding: 0 30px;
				}
			}
		}
	}
}