$name: opportunity;

.#{$name} {
	transition: $duration ease;
	display: block;
	text-align: center;
	fill: $color-dark;

	&:hover {
		color: $color-text-light;
		fill: $color-text;

		.#{$name} {

			&__icon {
				transform: scale(1.1);
			}
		}
	}

	&__icon-wrap {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 15px;
	}

	&__icon {
		height: 90px;
		width: auto;
		transition: $duration ease transform;
	}

	&__title {
		vertical-align: middle;

		@include screen-md(max) {
			font-size: 19px;
		}

		&::before,
		&::after {

			@include screen-md() {
				content: '';
				vertical-align: middle;
				display: inline-block;
				width: 25px;
				height: 1px;
				background-color: currentColor;
			}
		}

		&::before {

			@include screen-md() {
				margin-right: 10px;
			}
		}

		&::after {

			@include screen-md() {
				margin-left: 10px;
			}
		}
	}
}