$name: slider;

.#{$name} {
	overflow: hidden;
	background: white;
	padding: 0;

	.slick-list {
		margin: -1px;
	}

	.slick-slide {
		outline: none;

		> div {
			display: flex;
		}
	}

	&__item {
		padding: 1px;
	}

	&__dots {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		padding: 0 15px;
		margin-top: 15px;
	}

	&__dot {
		@extend %transition;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		display: block;
		border: 1px solid $color-gray;
	}

	li {
		padding: 10px;
		cursor: pointer;

		&:hover,
		&:focus {

			.#{$name} {
				// =====

				&__dot {
					background-color: $color-gray;
				}
			}
		}

		&:active {

			.#{$name} {
				// =====

				&__dot {
					border-color: $color-text-light;
					background-color: $color-text-light;
				}
			}
		}

		&.slick-active {

			.#{$name} {
				// =====

				&__dot {
					background-color: $color-gray;
				}
			}

			&:hover,
			&:focus {

				.#{$name} {
					// =====

					&__dot {
						background-color: $color-text-light;
						border-color: $color-text-light;
					}
				}
			}

			&:active {

				.#{$name} {
					// =====

					&__dot {
						background-color: $color-text-light;
					}
				}
			}
		}
	}
}