include ../mixins/radio
include ../mixins/banner
include ../mixins/opportunity
include ../mixins/growth

.mb-30

.container

	.row.main__separator
		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.

	.row.main__separator
		.col-2.mb-5
			a.link(href='#') .link
		.col-2.mb-5.main__black
			a.link.link_color_white(href='#') .link.link_color_white
		.col-2.mb-5
			a.link.link_line(href='#') .link.link_line
		.col-2.mb-5
			a.link.link_font_third(href='#') .link.link_font_third

	.row.main__separator
		.col-12
			.mb-5
				.title .title
			.mb-5
				.title.title_as_h2 .title.title_as_h2
			.mb-5
				.title.title_as_h3 .title.title_as_h3
			.mb-5
				.title.title_as_h4 .title.title_as_h4
			.mb-5
				.title.title_as_h5 .title.title_as_h5
			.mb-5
				.title.title_as_h6 .title.title_as_h6
			.mb-5
				.title.title_font_second .title.title_font_second
			.mb-5
				.title.title_as_h2.title_font_second .title.title_as_h2.title_font_second
			.mb-5
				.title.title_as_h3.title_font_second .title.title_as_h3.title_font_second
			.mb-5
				.title.title_as_h4.title_font_second .title.title_as_h4.title_font_second
			.mb-5
				.title.title_as_h5.title_font_second .title.title_as_h5.title_font_second
			.mb-5
				.title.title_font_third .title.title_font_third
			.mb-5
				.title.title_as_h2.title_font_third .title.title_as_h2.title_font_third
			.mb-5
				.title.title_as_h3.title_font_third .title.title_as_h3.title_font_third
			.mb-5
				.title.title_as_h4.title_font_third .title.title_as_h4.title_font_third
			.mb-5
				.title.title_as_h5.title_font_third .title.title_as_h5.title_font_third
			.mb-5
				.title.title_line_after .title.title_line_after

	.main__separator
		.row.mb-15
			.col-5
				.btn .btn
		.row.mb-15
			.col-5
				a.btn(href='#') a.btn
		.row.mb-15
			.col-5
				input.btn(type='button' value='input.btn')
		.row.mb-15
			.col-5
				button.btn button.btn
		.row.mb-15
			.col-5
				.btn.btn_wide .btn.btn_wide
		.row.mb-15
			.col-5.main__black
				.btn.btn_color_white .btn.btn_color_white
		.row.mb-15
			.col-5
				.btn.btn_size_md .btn.btn_size_md
		.row.mb-15
			.col-5
				.btn.btn_size_lg .btn.btn_size_lg

	.row.main__separator
		.col-3.mb-30
			input.input(type='text' placeholder='.input')
		.col-3.mb-30
			input.input.input_tel(type='tel' placeholder='.input.input_tel')
		.col-3.mb-30.main__black
			input.input.input_color_white(type='tel' placeholder='.input.input_color_white')
		.col-3.mb-30
			textarea.input(placeholder='textarea.input')

	.row.main__separator
		.col-3.mb-30
			+radio({
				name: 'radio-group-1',
				items: [
					{text: '.radio'},
					{text: '.radio'},
					{text: '.radio'}
				]
			})
		.col-3.mb-30.main__black
			+radio({
				name: 'radio-group-2',
				items: [
					{text: '.radio_color_white'},
					{text: '.radio_color_white'},
					{text: '.radio_color_white'}
				]
			})(class='radio_color_white')

	.row.main__separator

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner.jpg'
			})
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner.jpg'
			})(class='banner_align_left')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner.jpg'
			})(class='banner_align_right')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner.jpg'
			})(class='banner_valign_top')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner.jpg'
			})(class='banner_valign_bottom')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner.jpg'
			})(class='banner_fog')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner.jpg',
				moreLink: true
			})
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: 'img/content/banner.jpg',
				img: 'img/content/banner.jpg',
				zoom: {
					group: 'group-1',
					title: 'Banner'
				}
			})

		.col-4.mb-30
			+banner({
				link: 'files/video.mp4',
				img: 'img/content/banner.jpg',
				zoom: {
					group: 'group-2',
					title: 'Banner'
				},
				video: true
			})

	.row.main__separator
		.col-4
			+opportunity(opportunity[0])

	.row.main__separator
		.col-2.main__black
			+growth(growth[0])