.mb-30

.container

	.row.main__separator
		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.

	.row.main__separator
		.col-2.mb-5
			a.link(href='#') .link
		.col-2.mb-5.main__black
			a.link.link_color_white(href='#') .link.link_color_white
		.col-2.mb-5
			a.link.link_line(href='#') .link.link_line
		.col-2.mb-5
			a.link.link_font_third(href='#') .link.link_font_third

	.row.main__separator
		.col-12
			.mb-5
				.title .title
			.mb-5
				.title.title_as_h2 .title.title_as_h2
			.mb-5
				.title.title_as_h3 .title.title_as_h3
			.mb-5
				.title.title_as_h4 .title.title_as_h4
			.mb-5
				.title.title_as_h5 .title.title_as_h5
			.mb-5
				.title.title_as_h6 .title.title_as_h6
			.mb-5
				.title.title_font_second .title.title_font_second
			.mb-5
				.title.title_as_h2.title_font_second .title.title_as_h2.title_font_second
			.mb-5
				.title.title_as_h3.title_font_second .title.title_as_h3.title_font_second
			.mb-5
				.title.title_as_h4.title_font_second .title.title_as_h4.title_font_second
			.mb-5
				.title.title_as_h5.title_font_second .title.title_as_h5.title_font_second
			.mb-5
				.title.title_font_third .title.title_font_third
			.mb-5
				.title.title_as_h2.title_font_third .title.title_as_h2.title_font_third
			.mb-5
				.title.title_as_h3.title_font_third .title.title_as_h3.title_font_third
			.mb-5
				.title.title_as_h4.title_font_third .title.title_as_h4.title_font_third
			.mb-5
				.title.title_as_h5.title_font_third .title.title_as_h5.title_font_third