include ../components/cost-wrap
include ../components/social
include ../components/menu
include ../components/toggle
include ../mixins/radio
include ../mixins/check
include ../mixins/select
include ../mixins/banner
include ../mixins/opportunity
include ../mixins/growth
include ../mixins/cost
include ../mixins/slider
include ../mixins/logo
include ../mixins/icon

.container

	.row.main__separator
		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.

	.row.main__separator
		.col-2.mb-5
			a.link(href='#') .link
		.col-2.mb-5.main__black
			a.link.link_color_white(href='#') .link.link_color_white
		.col-2.mb-5
			a.link.link_line(href='#') .link.link_line
		.col-2.mb-5
			a.link.link_font_third(href='#') .link.link_font_third

	.row.main__separator
		.col-12
			.mb-5
				.title .title
			.mb-5
				.title.title_as_h2 .title.title_as_h2
			.mb-5
				.title.title_as_h3 .title.title_as_h3
			.mb-5
				.title.title_as_h4 .title.title_as_h4
			.mb-5
				.title.title_as_h5 .title.title_as_h5
			.mb-5
				.title.title_as_h6 .title.title_as_h6
			.mb-5
				.title.title_font_second .title.title_font_second
			.mb-5
				.title.title_as_h2.title_font_second .title.title_as_h2.title_font_second
			.mb-5
				.title.title_as_h3.title_font_second .title.title_as_h3.title_font_second
			.mb-5
				.title.title_as_h4.title_font_second .title.title_as_h4.title_font_second
			.mb-5
				.title.title_as_h5.title_font_second .title.title_as_h5.title_font_second
			.mb-5
				.title.title_font_third .title.title_font_third
			.mb-5
				.title.title_as_h2.title_font_third .title.title_as_h2.title_font_third
			.mb-5
				.title.title_as_h3.title_font_third .title.title_as_h3.title_font_third
			.mb-5
				.title.title_as_h4.title_font_third .title.title_as_h4.title_font_third
			.mb-5
				.title.title_as_h5.title_font_third .title.title_as_h5.title_font_third
			.mb-5
				.title.title_line_after .title.title_line_after
			.mb-5
				.title.title_line_around .title.title_line_around
			.mb-5
				.title.title_line_around-horizontal .title.title_line_around-horizontal
			.mb-5
				.title.title_quote .title.title_quote

	.main__separator
		.row.mb-15
			.col-5
				.btn .btn
		.row.mb-15
			.col-5
				a.btn(href='#') a.btn
		.row.mb-15
			.col-5
				input.btn(type='button' value='input.btn')
		.row.mb-15
			.col-5
				button.btn button.btn
		.row.mb-15
			.col-5
				.btn.btn_fill .btn.btn_fill
		.row.mb-15
			.col-5
				.btn.btn_wide .btn.btn_wide
		.row.mb-15
			.col-5.main__black
				.btn.btn_color_white .btn.btn_color_white
		.row.mb-15
			.col-5.main__black
				.btn.btn_fill.btn_color_white .btn.btn_fill.btn_color_white
		.row.mb-15
			.col-5
				.btn.btn_size_md .btn.btn_size_md
		.row.mb-15
			.col-5
				.btn.btn_size_lg .btn.btn_size_lg

	.row.main__separator
		.col-3.mb-30
			input.input(type='text' placeholder='.input')
		.col-3.mb-30
			input.input.input_tel(type='tel' placeholder='.input.input_tel')
		.col-3.mb-30
			input.input.input_date(type='text' placeholder='.input.input_date')
		.col-3.mb-30
			input.input.input_number(type='text' placeholder='.input.input_number')
		.col-3.mb-30.main__black
			input.input.input_color_white(type='tel' placeholder='.input.input_color_white')
		.col-3.mb-30
			textarea.input(placeholder='textarea.input')

	.row.main__separator
		.col-3
			+select([
				'Значение 1',
				'Значение 2'
			])
		.col-3
			+select([
				'Значение 1',
				'Значение 2'
			])(class='select_wide')
		.col-3
			+select([
				'Значение 1',
				'Значение 2'
			])(class='select_size_md')
		.col-3
			+select([
				'Значение 1',
				'Значение 2'
			])(class='select_size_lg')

	.row.main__separator
		.col-3.mb-30
			+radio({
				name: 'radio-group-1',
				items: [
					{text: '.radio'},
					{text: '.radio'},
					{text: '.radio'}
				]
			})
		.col-3.mb-30.main__black
			+radio({
				name: 'radio-group-2',
				items: [
					{text: '.radio_color_white'},
					{text: '.radio_color_white'},
					{text: '.radio_color_white'}
				]
			})(class='radio_color_white')

	.row.main__separator
		.col-3.mb-30
			+check({
				id: 'check-1',
				text: '.check'
			})
		.col-3.mb-30.main__black
			+check({
				id: 'check-2',
				text: '.check.check_color_white'
			})(class='check_color_white')

	.row

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})(class='banner_align_left')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})(class='banner_align_right')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})(class='banner_valign_top')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})(class='banner_valign_bottom')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})(class='banner_fog')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})(class='banner_fog_bottom')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg',
				moreLink: true
			})(class='banner_fog_bottom')
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg',
				moreLink: true
			})
				.title.title_font_second.title_as_h4.upper Дмитрий

		.col-4.mb-30
			+banner({
				link: 'img/content/banner/01/01.jpg',
				img: 'img/content/banner/01/01.jpg',
				zoom: {
					group: 'group-1',
					title: 'Banner'
				}
			})

		.col-4.mb-30
			+banner({
				link: 'files/video.mp4',
				img: 'img/content/banner/01/01.jpg',
				zoom: {
					group: 'group-2',
					title: 'Banner'
				},
				video: true
			})

		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg',
				moreLink: true
			})(class='banner_space_2x')
				.title.title_font_second.title_as_h4.upper Дмитрий

	.row.main__separator
		.col-4.mb-30
			+banner({
				link: '#',
				img: 'img/content/banner/01/01.jpg'
			})(class='banner_rect')
				.title.title_font_second.title_as_h4.upper Дмитрий

	.row.main__separator
		.col-4
			+opportunity(opportunity[0])

	.row.main__separator
		.col-2.main__black
			+growth(growth[0])

	.row.main__separator
		.col-4
			+cost(cost[1])

	.row.main__separator
		.col-12
			+cost-wrap

.mb-30
	include ../components/slider-single

.container

	.row.main__separator
		.col-6.mb-30
			+slider(slider)
		.col-6.mb-30
			+slider(slider)(dataRows='2')
		.col-6.mb-30
			+slider(slider)(dataCols='2')
		.col-6.mb-30
			+slider(slider)(dataRows='2' dataCols='2')

	.main__separator
		.row.main__nogap-row
			.col-6.main__nogap-col
				+banner({
					link: 'img/content/banner/01/01.jpg',
					img: 'img/content/banner/01/01.jpg',
					zoom: {
						group: 'group-3',
						title: 'Banner'
					}
				})
			.col-6.main__nogap-col
				+banner({
					link: 'img/content/banner/01/01.jpg',
					img: 'img/content/banner/01/01.jpg',
					zoom: {
						group: 'group-3',
						title: 'Banner'
					}
				})
			.col-6.main__nogap-col
				+banner({
					link: 'img/content/banner/01/01.jpg',
					img: 'img/content/banner/01/01.jpg',
					zoom: {
						group: 'group-3',
						title: 'Banner'
					}
				})
			.col-6.main__nogap-col
				+banner({
					link: 'img/content/banner/01/01.jpg',
					img: 'img/content/banner/01/01.jpg',
					zoom: {
						group: 'group-3',
						title: 'Banner'
					}
				})

	.row.main__separator
		.col-2
			+logo
		.col-2.main__black
			+logo(class='logo_color_white')
		.col-2
			+logo({
				link: false
			})

	.row.main__separator
		.col-4
			+social(social)
		.col-4.main__black
			+social(social)(class='social_color_white')

	.row.main__separator
		.col-1
			+icon({
				link: '#',
				icon: 'lk'
			})
		.col-1.main__black
			+icon({
				link: '#',
				icon: 'lk'
			})(class='icon_color_white')

	.row.main__separator
		.col-12.mb-15
			+menu
		.col-12.mb-15.main__black
			+menu({
				colorWhite: true
			})
		.col-12.mb-15
			+menu(class='menu_size_sm')

	.row.main__separator
		.col-1
			+toggle
		.col-1.main__black
			+toggle(class='toggle_color_white')

	.row.main__separator
		.col-4
			.tab-slide
				.tab-slide__item(data-tab-slide-target='tabSlide1')
					a.tab-slide__link(href='#' data-tab-slide-link='tabSlide2') .tab-slide LinkTo2
					a.tab-slide__link(href='#' data-tab-slide-link='tabSlide3') .tab-slide LinkTo3
				.tab-slide__item.tab-slide__item_hidden(data-tab-slide-target='tabSlide2')
					a.tab-slide__link(href='#' data-tab-slide-link='tabSlide1') .tab-slide LinkTo1
					a.tab-slide__link(href='#' data-tab-slide-link='tabSlide3') .tab-slide LinkTo3
				.tab-slide__item.tab-slide__item_hidden(data-tab-slide-target='tabSlide3')
					a.tab-slide__link(href='#' data-tab-slide-link='tabSlide1') .tab-slide LinkTo1
					a.tab-slide__link(href='#' data-tab-slide-link='tabSlide2') .tab-slide LinkTo2

	.row.main__separator
		.col-12
			.image-group

				each val in banner
					.image-group__col
						+banner({
							link: val.img,
							img: val.img,
							zoom: {
								group: 'group-2',
								title: 'Banner'
							}
						})

				each val in banner_02
					.image-group__col
						+banner({
							link: val.img,
							img: val.img,
							zoom: {
								group: 'group-2',
								title: 'Banner'
							}
						})