include ../components/menu

// FOOTER
footer.footer

	.footer__top.d-none.d-lg-block
		.container
			+menu({
				colorWhite: true
			})

	.footer__bottom
		.container
			.row.justify-content-center.justify-content-md-between
				.col-auto
					a.link.link_color_white.footer__link(href='#') Оплата и возврат
				.col-auto
					a.link.link_color_white.footer__link(href='#') Политика конфиденциальности
				.col-auto
					a.link.link_color_white.footer__link(href='#') Реквизиты
